---
import { getPastJobsForUser } from "@/hooks/get-data";
import { formatDate } from "@/lib/utils";

import Layout from "@/layouts/Layout.astro";
import DashboardWrapper from "@/components/DashboardWrapper.astro";
import ProtectedComponent from "@/components/protected-component";
import { ComponentWrapper } from "@/components/ui/component-wrapper";
import {
  Table,
  TableBody,
  TableCell,
  TableHead,
  TableHeader,
  TableRow,
} from "@/components/ui/table";
import { Eye, CalendarDays } from "lucide-react";
import { Button } from "@/components/ui/button";

const { userData } = Astro.locals;
if (!userData) {
  return Astro.redirect("/auth/login");
}

const pastJobs = await getPastJobsForUser(userData.id);
---

<Layout title="Past Jobs">
  <DashboardWrapper>
    <ProtectedComponent allowedRoles={["user"]} userRole={userData.role.id}>
      <ComponentWrapper name="Archived Jobs">
        <Table>
          <TableHeader>
            <TableRow>
              <TableHead>Title</TableHead>
              <TableHead>Description</TableHead>
              <TableHead><span class="flex items-center gap-2"><CalendarDays size={16}/>Shift:</span></TableHead>
              <TableHead><span class="flex items-center gap-2"><CalendarDays size={16}/>Date:</span></TableHead>
              <TableHead className="text-right"></TableHead>
            </TableRow>
          </TableHeader>
          <TableBody>
            {pastJobs.length === 0 ? (
              <TableRow>
                <TableCell colSpan={8} className="text-center text-muted-foreground py-6">
                  You have no past jobs yet.
                </TableCell>
              </TableRow>
            ) : (
              pastJobs.map((job) => (
                <TableRow key={job.id}>
                  <TableCell>{job.title}</TableCell>
                  <TableCell className="truncate max-w-[100px]">{job.description}</TableCell>
                  <TableCell>{job.shift?.name}</TableCell>
                  <TableCell>{formatDate(job.date, "short")}</TableCell>
                  <TableCell className="text-right">
                    <Button variant="outline">
                      <a href={`/jobs/${job.id}`}><Eye /></a>
                    </Button>
                  </TableCell>
                </TableRow>
              ))
            )}
          </TableBody>
        </Table>
      </ComponentWrapper>
    </ProtectedComponent>
  </DashboardWrapper>
</Layout>
