---
import { getUpcomingOpenJobs } from "@/hooks/get-data";
import { useJobActions } from "@/hooks/useJobActions";
import { formatDate } from "@/lib/utils";
import { Timestamp } from "firebase-admin/firestore";

import Layout from "@/layouts/Layout.astro";
import DashboardWrapper from "@/components/DashboardWrapper.astro";
import {
  Table,
  TableBody,
  TableCell,
  TableHead,
  TableHeader,
  TableRow,
} from "@/components/ui/table";
import { AlertDialogDelete } from "@/components/alert-dialog-delete";
import { Pencil, Plus, Eye, GalleryVerticalEnd, Award, CalendarDays, CheckCircle, GraduationCap, MapPinHouse } from "lucide-react";
import { ComponentWrapper } from "@/components/ui/component-wrapper";
import { Button } from "@/components/ui/button";
import { Badge } from "@/components/ui/badge";

const { userData } = Astro.locals;
if (!userData) {
  return Astro.redirect("/auth/login");
}

const jobs = await getUpcomingOpenJobs();
if (!jobs) {
  return Astro.redirect("/404");
}

const { assignJob } = useJobActions();
---

<Layout title="Offene jobs">
  <DashboardWrapper>
    <ComponentWrapper name="Offene Jobs">
      <Table>
        <TableHeader>
          <TableRow>
            <TableHead><span class="flex items-center gap-2"><CalendarDays size={16}/>Schicht:</span></TableHead>
            <TableHead><span class="flex items-center gap-2"><GraduationCap size={16}/>Ausbildung:</span></TableHead>
            <TableHead><span class="flex items-center gap-2"><Award size={16}/>Status</span></TableHead>
            <TableHead><span class="flex items-center gap-2"><CalendarDays size={16}/>Dattum:</span></TableHead>
            <TableHead><span class="flex items-center gap-2"><GalleryVerticalEnd size={16}/>Gruppe:</span></TableHead>
            <TableHead><span class="flex items-center gap-2"><MapPinHouse size={16}/>Wohngruppe:</span></TableHead>
            <TableHead className="text-right"></TableHead>
          </TableRow>
        </TableHeader>
        <TableBody>
          {jobs.length === 0 ? (
            <TableRow>
              <TableCell colSpan={8} className="text-center text-muted-foreground py-6">
                Derzeit sind keine Stellen verfügbar. Bitte füge eine neue Stelle hinzu.
              </TableCell>
            </TableRow>
          ) : (
            jobs.map((job) => (
              <TableRow key={job.id}>
                <TableCell className="font-medium"><a href={`/jobs/${job.id}`}>{job.shift.name}{" "}{job.date instanceof Timestamp ? formatDate(job.date, "short") : "Not provided"}</a></TableCell>
                <TableCell>{job.education.name}</TableCell>
                <TableCell>
                  {job.status.id === "open" ? (
                    <Badge className="bg-blue-500 text-white hover:bg-blue-600">Offen</Badge>
                  ) : (
                    <Badge variant="secondary">Erledigt</Badge>
                  )}
                </TableCell>
                <TableCell>{job.date instanceof Timestamp ? formatDate(job.date, "short") : "Not provided"}</TableCell>
                <TableCell>{job.pool.name}</TableCell>
                <TableCell>{job.property.name}</TableCell>
                <TableCell className="text-right flex justify-end items-center gap-2">
                  {(userData.education.id === job.education.id) && (userData.role.id === "user" ) && (
                    !job.assignedTo ? (
                      <Button
                        onClick={() => assignJob(job.id)}
                        className="bg-green-600 text-white cursor-pointer"
                        size="sm"
                      >
                        <CheckCircle size={16} /> Job annehmen
                      </Button>
                    ) : (
                      <Button disabled className="bg-gray-400 text-white cursor-not-allowed">
                        <CheckCircle className="mr-2" size={16} /> Vergeben
                      </Button>
                    )
                  )}
                  <Button variant={"outline"}>
                    <a href={`/jobs/${job.id}`}><Eye /></a>
                  </Button>
                  {(userData.role.id === 'admin' || userData.role.id === 'super_admin') && (
                    <>
                      <Button><a href={`/jobs/edit/${job.id}`}><Pencil /></a></Button>
                      <AlertDialogDelete
                        id={job.id}
                        resourceType="jobs"
                        client:load
                        triggerText=""
                        title="Sind Sie sicher, dass Sie diesen Job löschen möchten?"
                        description="Dies wird den Job dauerhaft aus der Datenbank löschen."
                        cancelText="Nein, abbrechen"
                        actionText="Ja, löschen"
                      />
                    </>
                  )}
                </TableCell>

              </TableRow>
            ))
          )}
        </TableBody>
        
      </Table>
    </ComponentWrapper>
    { (userData.role.id === 'property' || userData.role.id === 'super_admin') && (
      <Button className="self-end"><Plus /><a href={`/jobs/add`}>Neuen Job hinzufügen</a></Button>
    )}
  </DashboardWrapper>
</Layout>
