---

import { firestore } from "@/firebase/server";
import type { UserData } from "@/lib/types";
import Layout from "@/layouts/Layout.astro"
import Dashboard from "@/components/Dashboard.astro";
import {
  Table,
  TableBody,
  TableCell,
  TableHead,
  TableHeader,
  TableRow,
} from "@/components/ui/table";
import { ComponentWrapper } from "@/components/ui/component-wrapper";
import { Button } from "@/components/ui/button";
import { Badge } from "@/components/ui/badge";
import { Pencil, Plus } from "lucide-react";


const usersRef = firestore.collection("users");
const usersSnapshot = await usersRef.get();
const users = usersSnapshot.docs.map((doc) => ({
  id: doc.id,
  ...doc.data(),
})) as UserData[];

---

<Layout title="Users">
  <Dashboard >
    <ComponentWrapper name="users-list">
      <Table>
        <TableHeader>
          <TableRow>
            <TableHead className="w-[100px]">ID</TableHead>
            <TableHead>Name</TableHead>
            <TableHead>Email</TableHead>
            <TableHead>Pool</TableHead>
            <TableHead>Profile Status</TableHead>
            <TableHead className="text-right"></TableHead>
          </TableRow>
        </TableHeader>
        <TableBody>
          {users.map((user) => (
            <TableRow key={user.id}>
              <TableCell className="font-medium">{user.id}</TableCell>
              <TableCell><a href={`/users/${user.id}`}>{user.name} {user.surname}</a></TableCell>
              <TableCell>{user.email}</TableCell>
              <TableCell>{user.role}</TableCell>
              <TableCell>
                {user.isActive ? (
                  <Badge>Active</Badge>
                ) : (
                  <Badge variant="secondary">Inactive</Badge>
                )}
              </TableCell>
              <TableCell className="text-right">
                <Button><a href={`/users/edit/${user.id}`}><Pencil /></a></Button>
              </TableCell>
            </TableRow>
          ))}
        </TableBody>
      </Table>
    </ComponentWrapper>
    <Button className="self-end"><Plus /><a href={`/jobs/add`}>Add New User</a></Button>
  </Dashboard>
</Layout>